client/src/main/resources/user-api.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.harry.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserService" targetNamespace="http://webservice.harry.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.harry.com/" elementFormDefault="unqualified" targetNamespace="http://webservice.harry.com/" version="1.0">

  <xs:element name="getUser" type="tns:getUser"/>

  <xs:element name="getUserResponse" type="tns:getUserResponse"/>

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

  <xs:element name="settlementUpdate" type="tns:settlementUpdate"/>

  <xs:element name="settlementUpdateResponse" type="tns:settlementUpdateResponse"/>

  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userEntity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userEntity">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settlementUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="settlementRequest" type="tns:settlementRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settlementRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="batchNo" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orders" nillable="true" type="tns:orderRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="fasOrderNo" type="xs:string"/>
      <xs:element minOccurs="0" name="setlDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settlementUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:settlementResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settlementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="batchNo" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orderDetails" nillable="true" type="tns:orderResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMsg" type="xs:string"/>
      <xs:element minOccurs="0" name="fasOrderNo" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:getUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="settlementUpdateResponse">
    <wsdl:part element="tns:settlementUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="settlementUpdate">
    <wsdl:part element="tns:settlementUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="settlementUpdate">
      <wsdl:input message="tns:settlementUpdate" name="settlementUpdate">
    </wsdl:input>
      <wsdl:output message="tns:settlementUpdateResponse" name="settlementUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="settlementUpdate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="settlementUpdate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="settlementUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceSoapBinding" name="UserWebServiceImplPort">
      <soap:address location="http://localhost:8080/soap/user-api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>